In [1]:
import pandas as pd

In [2]:
df_male = pd.read_csv('df_male_done.csv')

In [3]:
df_male.head()

,Unnamed: 0,chest_circumference,waist_circumference,weight_hg,height_cm,Size
0,0,1074,933,815,180.34,NaN
1,1,1021,870,726,172.72,NaN
2,2,1120,964,929,172.72,NaN
3,3,1114,857,794,167.64,NaN
4,4,1048,868,946,195.58,NaN

In [10]:
df_male_1=df_male.drop('Unnamed: 0', axis=1)

In [14]:
df_male_1.head()

   chest_circumference  waist_circumference  weight_hg  height_cm  Size
0                 1074                  933        815     180.34   NaN
1                 1021                  870        726     172.72   NaN
2                 1120                  964        929     172.72   NaN
3                 1114                  857        794     167.64   NaN
4                 1048                  868        946     195.58   NaN

In [18]:
df_male_2 = df_male_1.drop(columns='Size')

In [19]:
df_male_2.head()

   chest_circumference  waist_circumference  weight_hg  height_cm
0                 1074                  933        815     180.34
1                 1021                  870        726     172.72
2                 1120                  964        929     172.72
3                 1114                  857        794     167.64
4                 1048                  868        946     195.58

In [20]:
df_male_2.dtypes

chest_circumference      int64
waist_circumference      int64
weight_hg                int64
height_cm              float64
dtype: object

In [21]:
df_male_3 = df_male_2.astype({"height_cm":int})

In [22]:
df_male_3.dtypes

chest_circumference    int64
waist_circumference    int64
weight_hg              int64
height_cm              int32
dtype: object

In [23]:
df_male_3.to_csv('df_male_last_one.csv')