In [70]:
df_male = pd.read_csv('male.csv')

In [71]:
df_male.head()

,subjectid,abdominalextensiondepthsitting,acromialheight,acromionradialelength,anklecircumference,axillaheight,balloffootcircumference,balloffootlength,biacromialbreadth,bicepscircumferenceflexed,...,Branch,PrimaryMOS,SubjectsBirthLocation,SubjectNumericRace,Ethnicity,DODRace,Age,Heightin,Weightlbs,WritingPreference
0,10027,266,1467,337,222,1347,253,202,401,369,...,Combat Arms,19D,North Dakota,1,NaN,1,41,71,180,Right hand
1,10032,233,1395,326,220,1293,245,193,394,338,...,Combat Support,68W,New York,1,NaN,1,35,68,160,Left hand
2,10033,287,1430,341,230,1327,256,196,427,408,...,Combat Support,68W,New York,2,NaN,2,42,68,205,Left hand
3,10092,234,1347,310,230,1239,262,199,401,359,...,Combat Service Support,88M,Wisconsin,1,NaN,1,31,66,175,Right hand
4,10093,250,1585,372,247,1478,267,224,435,356,...,Combat Service Support,92G,North Carolina,2,NaN,2,21,77,213,Right hand

In [72]:
df_male = pd.read_csv('male.csv', usecols=['chestcircumference', 'waistcircumference', 'Heightin', 'weightkg'])

In [80]:
df_male.head()

   chest_circumference  waist_circumference  weight_hg  height_cm Size
0                 1074                  933        815     180.34
1                 1021                  870        726     172.72
2                 1120                  964        929     172.72
3                 1114                  857        794     167.64
4                 1048                  868        946     195.58

In [74]:
df_male['Heightin'] = df_male['Heightin'].multiply(2.54)

In [76]:
df_male = df_male.rename(columns={'chestcircumference':'chest_circumference', 'waistcircumference':'waist_circumference', 'Heightin': 'height_cm', 'weightkg':'weight_hg'})

In [79]:
df_male.insert(column='Size', loc=4, value='')

In [84]:
df_male.head()

   chest_circumference  waist_circumference  weight_hg  height_cm Size
0                 1074                  933        815     180.34
1                 1021                  870        726     172.72
2                 1120                  964        929     172.72
3                 1114                  857        794     167.64
4                 1048                  868        946     195.58

In [85]:
df_male.to_csv('df_male_done.csv')

In [86]:
df_male = pd.read_csv('df_male_done.csv')

In [87]:
df_male.drop('Size', axis= )

,Unnamed: 0,chest_circumference,waist_circumference,weight_hg,height_cm
0,0,1074,933,815,180.34
1,1,1021,870,726,172.72
2,2,1120,964,929,172.72
3,3,1114,857,794,167.64
4,4,1048,868,946,195.58
...,...,...,...,...,...
4077,4077,954,816,675,170.18
4078,4078,1072,978,896,180.34
4079,4079,1045,991,832,170.18
4080,4080,984,783,731,175.26
4081,4081,1144,1080,985,185.42

In [88]:
df_male.drop(columns='Unnamed: 0')

      chest_circumference  waist_circumference  weight_hg  height_cm  Size
0                    1074                  933        815     180.34   NaN
1                    1021                  870        726     172.72   NaN
2                    1120                  964        929     172.72   NaN
3                    1114                  857        794     167.64   NaN
4                    1048                  868        946     195.58   NaN
...                   ...                  ...        ...        ...   ...
4077                  954                  816        675     170.18   NaN
4078                 1072                  978        896     180.34   NaN
4079                 1045                  991        832     170.18   NaN
4080                  984                  783        731     175.26   NaN
4081                 1144                 1080        985     185.42   NaN

[4082 rows x 5 columns]

In [90]:
df_male.head()

,Unnamed: 0,chest_circumference,waist_circumference,weight_hg,height_cm,Size
0,0,1074,933,815,180.34,NaN
1,1,1021,870,726,172.72,NaN
2,2,1120,964,929,172.72,NaN
3,3,1114,857,794,167.64,NaN
4,4,1048,868,946,195.58,NaN